[submodule "external/submodules/glm"]
	path = external/submodules/glm
	url = https://github.com/g-truc/glm
[submodule "external/submodules/glfw"]
	path = external/submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "external/submodules/libzip"]
	path = external/submodules/libzip
	url = https://github.com/nih-at/libzip
[submodule "external/submodules/fmt"]
	path = external/submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/submodules/optional"]
	path = external/submodules/optional
	url = https://github.com/tartanllama/optional
[submodule "external/submodules/function2"]
	path = external/submodules/function2
	url = https://github.com/Naios/function2
[submodule "external/submodules/zlib"]
	path = external/submodules/zlib
	url = https://github.com/madler/zlib
[submodule "external/submodules/plf_colony"]
	path = external/submodules/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "external/submodules/openal-soft"]
	path = external/submodules/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "external/submodules/ogg"]
	path = external/submodules/ogg
	url = https://github.com/xiph/ogg
[submodule "external/submodules/vorbis"]
	path = external/submodules/vorbis
	url = https://github.com/xiph/vorbis
[submodule "external/submodules/libsndfile"]
	path = external/submodules/libsndfile
	url = https://github.com/erikd/libsndfile
[submodule "external/submodules/stb"]
	path = external/submodules/stb
	url = https://github.com/nothings/stb
[submodule "external/submodules/assimp"]
	path = external/submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "external/submodules/bullet3"]
	path = external/submodules/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "external/submodules/imgui"]
	path = external/submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/submodules/utf8.h"]
	path = external/submodules/utf8.h
	url = https://github.com/sheredom/utf8.h
