/docs
/build/out/*
/.idea
/tool_config
/external/mg_dependencies/*
/external/mg_dependencies_src/*
/external/build/*
/external/mg_dependencies.zip
/external/submodules/*/*
/devutils

*.pl
*.dot
*.ps
*.swp
*.swo
*.swn
*.session
*.vim
.lvimrc*

mg_log.txt
mg_engine.cfg
imgui.ini

CMakeCache.txt
CMakeFiles/

build/my_configure.sh

tests/catch.hpp

samples/data/textures/contexture*
samples/data/meshes/mg_mesh_converter
samples/data/unused/
