/docs
/build/out/*
/.idea
/tool_config
/external/mg_dependencies/*

*.pl
*.dot
*.ps
*.swp
*.swo
*.swn
*.session
*.vim

mg_log.txt
mg_engine.cfg

CMakeCache.txt
CMakeFiles/

.clang-tidy
.ycm_extra_conf.py

tests/catch.hpp

data/textures/contexture*
data/meshes/mg_mesh_converter
